body {
  display: block;
  margin: 20px;
}
main {
  padding: 30px 0;
}

.weather-app {
  margin: 70px auto;
  max-width: 600px;
  padding: 30px;
  border: 5px solid #1e22f398;
  box-shadow: 2px 2px #875df14a;
  border-radius: 10px;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}

#button {
  padding: 15px;
  border-radius: 15px;
  border: #dadde1 1px solid;
  outline: none;
  color: whitesmoke;
  background-color: #0077b6;
  font-size: 15px;
  font-weight: 400;
}

.input-search {
  background-color: #dadde196;
  width: 80%;
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #dadde1;
  outline: none;
  unicode-bidi: isolate;
}

.current-temp {
  display: flex;
}

.current-temp-icon {
  width: 90px;
  height: 90px;
}

.current-temp-text {
  font-size: 80px;
  margin-left: 10px;
  font-weight: bold;
}

.current-temp-degrees {
  margin-top: 16px;
  font-size: 28px;
}

strong {
  color: rgba(255, 0, 0, 0.583);
}

.day {
  display: block;
  font-weight: 300;
  font-size: 18px;
  color: #27282980;
}

p {
  color: #2a2b2ed3;
}

a {
  color: rgb(11, 7, 245);
}

footer {
  border-top: 1px solid rgba(128, 128, 128, 0.104);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-sizing: border-box;
  display: block;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(0, 0, 0, 0.603);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65252;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.weather-forecast-temperature {
  color: rgba(255, 68, 0, 0.637);
  padding-left: 5px;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
}
.Forecasttwo {
  color: blue;
}
